@import '/src/assets/styles/mixins/mixins';

.detail {
    margin: 4rem 0;
    padding-bottom: 1rem;
    @media only screen and (max-device-width: 800px) {
        margin: 2rem 0;
    }
    &__title {
        background: #e6e6e6;
        font-family: var(--theme-font-abel);
        margin: 0;
        padding: 1rem 2rem;
        font-weight: normal;
        color: var(--theme-primary-color);
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 2rem;
        span {
            color: #9a9a9a;
            font-size: 1rem;
            font-family: var(--theme-font-lato);
        }

        @media only screen and (max-device-width: 800px) {
            display: block;
            font-size: 1.5rem;
            span {
                display: block;
            }
        }
    }

    &__content {
        background: #f2f2f2;
        display: grid;
        grid-template-columns: 3fr 1.25fr;

        @media only screen and (max-device-width: 800px) {
            display: flex;
            flex-direction: column-reverse;
        }

        &__info {
            padding: 2rem;
            position: relative;
            &__marker {
                font-family: var(--theme-font-abel);
                color: var(--theme-primary-color);
                font-weight: normal;
                font-size: 1.5rem;
                &.--border {
                    border-bottom: solid 1px var(--theme-secundary-color);
                    padding-bottom: .5rem;
                    margin: 0 0 1rem 0;
                }
            }
            &__list {
                list-style: none;
                padding-inline-start: 0;
                grid-gap: .5rem;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    text-align: center;
                    @media only screen and (max-device-width: 800px) {
                        flex: 0 0 45%;
                        text-align: left;
                    }
                }
            }
            p {
                font-family: var(--theme-font-lato);
                color: #484848;
                margin: 0 0 3rem 0;
                @media only screen and (max-device-width: 800px) {
                    margin: 0 0 2rem 0;
                }
                &.no-mb {
                    margin-bottom: 0;
                }
            }
            &__budget {
                width: 6rem;
                height: 6rem;
                right: 2rem;
                bottom: 2rem;
                @include budget;

                @media only screen and (max-device-width: 800px) {
                    width: 3rem;
                    height: 3rem;
                    bottom: auto;
                    top: 1rem;
                }
            }
        }
        &__figure {
            display: flex;
            margin: 0;
        }
        &__iframe {
            margin: 4rem 0;
            width: 100%;
            height: 600px;
            @media only screen and (max-device-width: 800px) {
                height: 300px;
            }
        }
    }
}
