@import '/src/assets/styles/mixins/mixins';

.movie {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    @media only screen and (max-device-width: 800px) {
        display: block;
    }

    &:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,.45);
        filter: brightness(1.05);
    }

    &__figure {
        margin: 0;
        display: flex;
    }

    &__content {
        background: #ebebeb;
        &__title {
            background: var(--theme-primary-color);
            color: var(--theme-secundary-color);
            font-family: var(--theme-font-abel);
            padding: 1.5rem 2rem 0rem 6rem;
            font-size: 2rem;
            position: relative;
            margin: 0;
            font-weight: normal;
            @media only screen and (max-device-width: 800px) {
                padding: 1rem 1rem 0rem 6rem;
                font-size: 1.5rem;
            }
            &__budget {
                width: 4rem;
                height: 4rem;
                left: 1rem;
                top: 50%;
                @include budget;
                @media only screen and (max-device-width: 800px) {
                    top: 10%;
                }
            }
        }
        &__date {
            padding: .15rem 0 0 6rem;
            color: #484848;
            font-family: var(--theme-font-lato);
        }
        &__inner {
            padding: 2rem;
            p {
                font-family: var(--theme-font-lato);
                color: #484848;
                margin: 0;
            }
        }
    }
}

.empty {
    text-align: center;
    font-family: var(--theme-font-lato);
    color: #484848;
    margin: 4rem;
}
