<app-search (eventSearchResult)="search($event)" (load)="isLoading($event)"></app-search>

<app-load *ngIf="load"></app-load>

<ng-template #listMovies [ngTemplateOutlet]="listMovies"
             *ngFor="let movie of movies?.results?.slice(countPaginator.start, countPaginator.end)">
    <a [routerLink]="[movie.id]" *ngIf="!load">
        <section class="movie">
            <figure class="movie__figure">
                <img [src]="endpointImage + '/w200' + movie?.poster_path" loading="lazy">
            </figure>
            <div class="movie__content">
                <h1 class="movie__content__title">
                    {{ movie?.title }}
                    <div class="movie__content__title__budget">
                        <span>{{ movie?.vote_average }}</span>
                    </div>
                </h1>
                <div class="movie__content__date">
                    {{ movie?.release_date | date: 'dd/MM/yyyy' }}
                </div>
                <div class="movie__content__inner">
                    <p>
                        {{ movie?.overview }}
                    </p>
                    <app-tags [tags]="movie?.genre_ids"></app-tags>
                </div>
            </div>
        </section>
    </a>
</ng-template>

<div *ngIf="!movies?.results?.length && !load" class="empty">
    Sem Resultado para essa busca!
</div>

<app-paginator *ngIf="!load && movies" (eventChangePages)="changePage($event)" [lenght]="movies?.results.length"></app-paginator>
