header {
    background: var(--theme-primary-color);
    padding: 1rem 0;
    width: 100%;
    color: var(--theme-secundary-color);
    font-size: 2rem;
    text-align: center;
    font-family: var(--theme-font-abel);
}
